<div class="card mb-4">
    <div class="card-block">
      <h4 class="card-title col-md-12 p-3">{{'Propagator with id ' + propagatorId}}</h4>
      <div class="card-body row m-1">
        <div class="col-md-4 p-3">
          <h6 class="card-subtitle text-muted">ID</h6>
          <p class="card-text">{{propagatorId}}</p>
        </div>
        <div class="col-md-4 p-3">
          <h6 class="card-subtitle text-muted">Username</h6>
          <p class="card-text">{{propagator.username}}</p>
        </div>
        <div class="col-md-4 p-3">
          <h6 class="card-subtitle text-muted">Role</h6>
          <p class="card-text">{{propagator.getRoles().join(', ')}}</p>
        </div>
      </div>
      <div class="card-footer text-right">
        <button id="listBtn" type="button" [routerLink]="['/propagators']"
                class="btn m-1 btn-outline-primary">Propagator List
        </button>
        <button id="editBtn" type="button" [routerLink]="['edit']"
                class="btn m-1 btn-outline-success">Edit
        </button>
        <button id="deleteBtn" type="button" [routerLink]="['delete']"
                class="btn m-1 btn-outline-danger">Delete
        </button>
      </div>
    </div>
  </div>
